@font-face {
  font-family: 'Suranna';
  src: url('../fonts/Suranna-Regular.ttf');
  font-variation-settings: 'wdth' 400, 'wght' 98;
}
.logo {
  height: 150px;
}
.title{
  font-family: 'Suranna, Times, serif';
  font-size: 5rem;
  font-weight: regular;
  color: #000;
  letter-spacing: .02rem;
}
.title a {
  color: #9cd0fa;
  text-decoration: none;
}
.title a:hover {
  color: #9af;
  text-decoration: none;
}
.subtitle {
  font-style: italic;
  font-size: large;
  color: rgb(14, 56, 134);
}
.main {
  /* TODO: add mixin for bootstrap container-fluid */
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}