* { margin: 0 }
html { font-size: 62.5%; }
body, a { font-family: Helvetica, Arial, sans-serif; text-decoration: none; }
header { padding: 2rem; text-align: center; }
h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; font-weight: 100; margin-left: 5rem; }
a, p { color: #333; text-decoration: none; }
nav { background: #EEE; text-align: center; }
nav a {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    text-decoration: none;
}
nav a:hover { background: #CCC; }
nav a:first-child { display: none; }
@media screen and (max-width: 800px) { }
@media screen and (max-width: 490px) {
	h1 { font-size: 2rem; }
    h2 { font-size: 1.5rem; margin-left: 2rem; }
    nav {
        height: 5rem;
        overflow: hidden;
        padding: 0;
        text-align: left;
        transition: .7s height ease-in-out;
    }
    nav:hover, nav:focus { height: 23rem; }
    nav a { display: block; font-size: 1.5rem; padding: 1.4rem; }
    nav a:first-child { display: block; }
    
}
@media screen and (max-width: 460px) { }