*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	height:100%;
	padding: 2vw 1.4vw;
}
.container-fluid {
	min-height:100%;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h1, h2 { font-weight: bold; margin: 5px 0; }
p { font-size: 1em; margin: 5px 0; }
ul { padding-left: 10px; margin: 10px 0; list-style-type: disc; }
li { margin-left: 0; padding-left: 10px; }

header,
footer {
	color:#212420;
	padding: 1px 1em;
}
header { margin-bottom:8px;	}
header a,
header a:hover,
header a:active,
footer a,
footer a:hover,
footer a:active {
	color:#04042e;
}

article, aside {
	margin: 0 5% 15px;
}
#about article {
	border:none;
}
nav ul {
  padding-left:0px;
  margin:0px;
  margin-bottom:2px;
}

nav ul li {
	display: inline;
	margin-left:0px;
}

nav ul li:first-child {
    padding-left:0px;
}

.form-control {
	max-width:300px;
}