#todo-list input.edit {
  display: none; /* Hides input box*/
}
#todo-list .editing label {
  display: none; /* Hides label text when .editing*/
}
#todo-list .editing input.edit {
  display: inline; /* Shows input text box when .editing*/
}
ul#todo-list {
	padding-left:0px;
	margin:0;
}
ul#todo-list a.destroy {

}
ul#todo-list label {
	max-width:84%;
}
ul#todo-list .form-control-feedback {
	line-height: 48px;
	pointer-events: inherit;
}
input#new-todo {
margin-bottom: 20px;
}
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

/* Polymer */
  html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
  }
  core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; 
  }
  core-toolbar {
    background: #03a9f4;
    color: white;
  }
  #tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	text-transform: uppercase;
  }
  .container {
    margin: 10px auto;
  }