#featured {
  background-color: rgb(4, 5, 5);
  border-bottom: 1px solid rgb(4,5,5);
  color: #fff;
  height: 300px;
  margin:  0 auto 20px;
  overflow: hidden;
}

#featured .smaller {
  font-size: smaller;
}